.login {
    display: grid;
    place-items: center;
    height: 100vh;
}

.login__facebookLogo {
    object-fit: contain;
    height: 100px;
}

.login__facebookText {
    margin-top: 24px;
    object-fit: contain;
    height: 30px;
}

.login > button {
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
}

.login > button:hover {
    background-color: #2e81f4;
    color: #eff2f5;
    opacity: 0.8;
}

.login > div {
    display: flex;
    flex-direction: column;
}
